*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  position:relative;
  margin: 0px;
}

.header {
display:grid;
grid-template-columns: 1fr min-content 1fr;
align-items:center;
padding: 40 px 20px 40px;
width: 1100px;
height: 293px;
margin: 0 auto;
font-family: Raleway, sans-serif;
}
.header_logo  {
  display: block;
  width: 148px;
  height: 105 px;
  top: 92px;
  left: 478px;
}

.header-menu {
  display:flex;
  flex-direction:row;
  gap:22px;
  top: 133px;
  left: 50px;
  width: 391.48px;
  height: 22px;
  color: black;
}

.header-menu-list {
  display:flex;
  flex-direction:row;
  gap:12px;
  list-style-type: circle;
}

.header-menu-link {
  color: black;
}

.header_menu-item_active {
  text-decoration: underline;
}

address {
  white-space: nowrap;
  max-width: 240px;
  height: 98px;
  justify-self: end;
  top: 95px;
  left: 810px;
  border: 1 px;
  color: black;
}

.overlay {
position:absolute;
opacity: 60%;
z-index: 1;
}

.cover {
min-height: 757px;
opacity: 60%;
padding: 7px 24px 32px 20px;
background-image: url(../images/cover.jpg;);
background-repeat: no-repeat;
background-position: center;
background-size: auto;
}
.cover_title {
  color:white;
  width: 1000px;
  height: 385px;
  top: 165px;
  left: 50px;
  font-weight: bold;
  font-size: 20px;
  font-family: Railway;
  text-transform: uppercase;
  z-index: 2;
}

.accept-span {
  display: block;
}
.cover_description {
  width: 1000px;
  height: 51px;
  top: 656px;
  left: 50px;
  border: 1px;
}
.cover_description_title {
  display: flex;
  justify-content: space-between;
  text-align:center;
  gap: 20px;
  color:white;
  font-size: 12;
  text-transform: uppercase ;
  word-spacing: 15px;
  text-align: left;
  z-index: 2;
}


.bet-button {
  padding: 0;
  border: none;
  font: inherit;
  color:white;
  text-transform: uppercase;
  background-color: transparent;
  cursor: pointer;
  border: solid 1px;
  border-radius: 4px;
  z-index: 2;
}

.lots {
 width: 1052px;
 height: 723px;
 top:1230px;
 left:24px;
}

.lots_heading {
font-family: Raleway;
text-transform: uppercase;
font-weight: 700 ;
font-size: 40px;
line-height: 46.96px;
color: #000000;
}

.lots_card-list{
  display:flex;
  flex-wrap: wrap;
  width: 334px;
  min-height: 596px;
  gap: 25px;
  padding: 50px 50px 50px 50px;
  margin: 100px 0px 50px 0px;
}

card.link {
  text-decoration: none;
}

.lots_card-list_item {
height:100%;
}

.card {
  width: 334px;
  height: 596px;
  display:flex;
  display: inline-block;
}

.card_type_film {
background-image: url(../images/cover-lot-01.jpg;);
width: 334px;
height:596px;
position:relative;
z-index:1;
}

.card_type_book {
  background-image: url(../images/cover-lot-02.jpg;);
  width: 334px;
  height:596px;
  position:relative;
  z-index:1
}

.card_type_picture {
  background-image: url(../images/cover-lot-03.jpg;);
  width: 334px;
  height:596px;
  position:relative;
  z-index:1;
  }

.overlay {
width: 334px;
height: 596px;
color: #000000 60%;
}

.card_title {
  font: Railway;
  font-weight: 700;
  font-size: 22px;
  line-height: 26.4px;
  letter-spacing: 0%;
  text-decoration: underline;
  border-style: solid;
  offset:auto;
  width: 254px;
  height: 82px;
  top:48px;
  left: 40px;
}

.card_text {
  position: absolute;
  z-index:2;
  font-weight:400px;
  font-size: 20px;
  line-height:24px;
  letter-spacing: 0px;
  flex-direction: column;
  margin:auto;
  color: #FFFFFF;
}

.more {
width: 192 px;
height: 25px;
top: 700px;
left: 40px;
border:1px;
color: #000000;
}


.about {
display:grid;
grid-template-columns: 1fr 2fr;
grid-template-rows: 1fr 2fr;
margin-left: 24px;
margin-top: 2073px;
grid-template-areas: 
"about_logo about_title"
". about_text";
}

.about_logo {
width: 240px;
height:240px;
padding-top: 35px;
padding-left: 47px;
border: radius 50px;
color:black;
display: flex;
align-items:center;
}

.logo_image {
align-items: center;
}

.about_title {
font-family: Railway; 
font-size: 40px;
line-height: 46.96px;
color: #000000;
text-transform: uppercase;
width: 291px;
height: 47px;
top: 3px;
}

.about_text {
width: 693px;
height: 312px;
top: 150px;
display: flex;
flex-direction: column;
position: relative;
margin-bottom: 2px;
margin-right: 2px;
gap:30px;
line-height: 24px;
font-size: 20px;
font-weight: 400;
color: #000000;
margin-top: 150px;
}

.footer {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
  "footer_adress footer_menu-list footer_social-icons"
  ". . .";
}

.footer_address {
width: 264.57px;
height: 98px;
padding-left: 50px;
border: 1px;
color: #000000;
}

.footer_menu {
  width: 163.9px;
  height: 64px;
  padding-top: 1px;
  padding-left: 468.6px;
  border: 1px;
  color: #000000;
}

.footer_social-list-item {
width: 240px;
height: 48px;
padding-top: 1px;
padding-left: 810px;
gap: 48px;

}
.footer_social-icons {
border-radius: 50%;
background-color: #FFFFFF;
}





h1
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img {
  width: 100%;
}
