.header {
max-width: 1100px;
display: grid;
grid-template-columns: 1fr min-content 1fr;
align-items: center;
margin-bottom: 40px;
padding: 73px 70px 50px 45px;
margin-left: 130px;
}

.header_menu {
max-width: 391.48px;
}

.header_menu-list {
display: flex;
flex-grow: 1;
flex-direction: row;
flex-wrap: nowrap;
list-style-type: circle;
font-size: 18px;
text-transform: lowercase;
text-underline-offset: 4px;
text-decoration-thickness: 1px;
margin-bottom: 6px;
margin-left: 6px;
margin-top: 20px;
white-space: nowrap;
gap: 31px;
}

.header_menu_item {
display: inline;
}

.header_links-list-item-no-bullit  {
list-style-type: none;
gap: 28px;
}

.header_link_active {
gap: 28px;
}

.header_logo {
width: 137px;
min-height: 105px;
display: block;
align-self: center;
padding-top: 20px;
margin-left: 20px;
}

.header_logo-image {
width: 100%;
}

.header_address {
justify-self: end;
display: block;
max-width: 240px;
margin-right: 25px;
padding-bottom: 10px;
margin-top: 20px ;
}

.address_link {
line-height: 24.3px;
border: 1px;
align-items: center;
color: #000000;
font-size: 18px;
text-transform: lowercase;
text-underline-offset: 4px;
font-style: normal;
}

.address_text {
letter-spacing: 0px;
font-size: 18px;
text-underline-offset: 4px;
font-family: Raleway;
font-weight: 400;
text-decoration-thickness: 1px;
font-style: normal;
}

/* Обложка */

.cover {
max-width: 1100px;
min-height: 757px;
position: relative; 
background: url("../images/cover.jpg");
background-size: cover;
background-position: center;
z-index: 0;
justify-content: center;
display: flex;
margin-left: 128px;
}

.overlay {
position: absolute;
background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный фон */
z-index: 1;
width: 100%;
height: 100%;
}

.cover-title {
position: absolute;
display: flex;
flex-direction: column;
width: 1000px;
z-index: 2;
text-align: center;
text-transform: uppercase;
color: #fff;
margin-top: 167px;
margin-left: 3px;
font-weight: 700;
}

.aligned-text_left {
font-family: Raleway, sans-serif;
font-weight: 700;
font-size: 100px;
line-height: 115%;
text-transform: uppercase;
text-align: start;
letter-spacing: 30px;
}

.aligned-text_center {
font-family: Raleway, sans-serif;
font-weight: 700;
font-size: 100px;
text-align: start;
line-height: 115%;
text-transform: uppercase;
letter-spacing: 30px;
margin-top: 18px;
margin-left: 300px;
padding-left: 30px;
}

.aligned-text_right {
font-family: Raleway, sans-serif;
font-weight: 700;
font-size: 100px;
text-align: start;
line-height: 115%;
text-transform: uppercase;
letter-spacing: 30px;
text-align: right;
white-space: nowrap;
margin-top: 20px;
margin-left: 610px;
padding-right: 111px;
}

.cover_description {
transform: translate(51px, 50px);
border-width: 1px;
display: flex;
justify-content: space-between;
align-items: center;
z-index: 2;
column-gap: 101px;
font-family: Raleway, sans-serif;
margin-top: 510px;
margin-right: 105px;
}

.cover_description-text {
font-family: Raleway;
font-weight: 400;
font-size: 22px;
line-height: 28px;
letter-spacing: 1px;
text-transform: uppercase;
white-space: nowrap;
color: white;
word-spacing: 13px;
flex-direction: row;
}

.bet-button {
width: 256px;
height: 51px;
left: 794px;
border: 1px solid #FFFFFF;
cursor: pointer;
font-family: Raleway;
font-weight: 500;
font-size: 22px;
line-height: 100%;
letter-spacing: 0px;
text-transform: uppercase;
background-color: transparent;
color: white;
z-index: 2;
margin-top: 9px;
margin-bottom: 6px;
align-self: center;
}

/* Лоты */

.lots {
max-width: 1052px;
margin-left: 150px;
}

.lots_heading {
width: 121px;
margin-top: 184px;
padding-left: 40px;
margin-bottom: 30px;
left: 40px;
font-family: Raleway;
font-weight: 700;
font-size: 40px;
line-height: 100%;
letter-spacing: 0px;
text-transform: uppercase;
}

.lots_card-list {
display: flex;
flex-direction: row;
flex-wrap: wrap;
list-style: none;
gap: 25px;
flex-grow: 1;
justify-content: space-between;
margin-top: 27px;
}

.lots.overlay {
position: absolute;
background-color: rgb(0,0,0,0.6);
inset: 0;
}

.lots_card-list-item {
width: 334px;
min-height: 596px;
flex-grow: 1;
}

.card-link {
display: block;
}

.card {
min-height: 596px;
height: 100%;
width: auto;
display: flex;
flex-direction: column;
background-size: cover;
background-position: center;
position: relative; 
padding-bottom:3px ;
flex-grow: 1;
}

.card_title {
position: absolute;
font-family: Raleway;
width: 254px;
top: 48px;
left: 40px;
font-weight: 700;
font-size: 22px;
line-height: 120%;
letter-spacing: 0px;
text-transform: uppercase;
text-decoration-line: underline;
text-decoration-style: solid;
text-decoration-thickness: 0%;
color: white;
z-index: 1;
}

.card_type_film {
background-image: url("../images/card-lot-01.jpg");
background-position: center;
background-size: cover;
}

.card_type_book {
background-image: url("../images/card-lot-02.jpg");
background-position: center;
background-size: cover;
}

.card_type_picture {
background-image: url("../images/card-lot-03.jpg");
background-position: center;
background-size: cover;
}

.card-text {
position: absolute;
display: flex;
align-self: flex-end;
color: white;
z-index: 1;
width: 254px;
font-family: Raleway;
font-weight: 400;
font-size: 20px;
line-height: 24px;
letter-spacing: 0px;
top: 188px;
left: 40px;
padding-bottom: 50px;
bottom: 0;
}


.lots_look-more-link {
border-width: 1px;
font-family: Raleway;
font-weight: 400;
font-size: 20px;
line-height: 100%;
margin-top: 33px;
margin-left: 40px;
display: block ;
text-underline-offset: 4px;
}

/* Об аукционе */

.about { 
max-width: 1100px; 
display: grid; 
grid-template-columns: 1fr 2fr; 
gap: 70px;
padding: 0px 70px 120px;
}

.about_logo { 
width: 240px; 
height: 240px; 
display: flex; 
background-color: black; 
clip-path: circle(50%); 
align-items: center; 
justify-content: center; 
margin-top: 156px;
margin-left: 130px;
}  

.about_logo-image {
width: 148px;
height: 114px;
}

.about_column { 
width: 693px;
gap: 20px;
}

.about_title_text {  
padding-top:3px; 
font-family: Raleway; 
font-weight: 700; 
font-size: 40px; 
line-height: 100%; 
letter-spacing: 0px;
text-transform: uppercase;
margin-bottom: 70px;
margin-top: 260px;
} 

.about_text-paragraph_upper {
width: 693px;
top: 294px;
font-family: Raleway;
font-weight: 400;
font-size: 20px;
line-height: 24px;
letter-spacing: 0px;
color: #000000;
padding-bottom: 25px;
padding-top: 30px;
}

.about_text-paragraph_lower {
width: 688px;
top: 150px;
font-family: Raleway;
font-weight: 400;
font-size: 20px;
line-height: 24px;
letter-spacing: 0px;
color: #000000;
}

/* Футер*/

.footer {
width: 1100px;
display: grid;
grid-template-columns: 1fr 1fr 1fr;
align-items: center;
margin-top: 50px;
margin-left: 125px;
}

.footer_address {
display: block;
padding-left: 50px;
padding-bottom: 90px;
padding-top: 15px;
}

.footer_address_link {
text-transform: lowercase;
font-size: 18px;
text-underline-offset: 4px;
font-family: Raleway;
font-weight: 400;
letter-spacing: 0px;
text-decoration-thickness: 1px;
font-style: normal;
}

.footer_address_text {
font-size: 18px;
text-underline-offset: 4px;
font-family: Raleway;
font-weight: 400;
letter-spacing: 0px;
text-decoration-thickness: 1px;
font-style: normal;
}

.footer_menu {
top: 1px;
border-width: 1px;
justify-self: center;
margin-bottom: auto;
margin-left: 100px;
}

.footer-list {
display: flex;
flex-direction: column;
flex-wrap: nowrap;
list-style-type: circle;
padding-right: 90px;
padding-top: 10px;
}

.footer_menu-list-item {
font-family: Raleway;
font-weight: 400;
font-size: 18px;
line-height: 100%;
letter-spacing: 0px;
display:inline-block;
text-align:center;
text-underline-offset: 4px;
}

.footer_menu-link_active {
list-style-type: none;
line-height: 1.2em;
}

.footer_social-list {
gap: 48px;
display: flex;
flex-direction: row;
justify-content: flex-end;
justify-self: end;
margin-bottom: auto;
margin-right: 50px;
padding-top: 12px;
list-style-type: none;
}

.footer_social-list-item {
width: 48px;
height: 48px;
}
